name: Lint

on:
  pull_request:
  push:
    branches:
      - release

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v2
        with:
          node-version: 22.x

      - name: Install and lint
        run: |
          yarn --frozen-lockfile
          yarn test:other
          yarn test:code
          yarn test:typecheck
